@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");

.App {
  color: white;
  background-image: url(./assets/form-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 52%;
  height: max(100vh, 720px);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  position: relative;
}

.show {
  display: block !important;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  padding: 12px 0;
  background-color: rgba(0, 0, 0, 0.4);
}
header img {
  height: 75px;
  width: 75px;
}
header h2 {
  text-shadow: 0px 0px 2px skyblue;
  letter-spacing: 1.5px;
  font-family: "MedievalSharp", cursive;
  margin: 0;
  text-align: center;
  width: 225px;
}

/* Form */
.sign-up-form {
  padding-left: 12px;
  padding-top: 33px;
}

.input-field {
  display: flex;
  flex-direction: column;
  width: 185px;
  margin-bottom: 8px;
}

.input-field input,
.input-field select {
  padding: 4px;
  border-radius: 3px;
  border: 1px solid rgba(135, 207, 235, 0.67);
  outline: none;
  opacity: 0.85;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.input-field label {
  margin-left: 3px;
  text-shadow: 0px 0px 2px black;
}

.input-field input:focus,
.input-field select:focus {
  box-shadow: inset 0px 0px 3px skyblue;
  opacity: 1;
}

.submit-btn {
  background-color: #597d48;
  border: none;
  padding: 12px;
  color: white;
  font-weight: bold;
  width: 185px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 24px;
  font-size: 15px;
}
.submit-btn {
  background-color: #597d48;
  transition-duration: 180ms;
}
.submit-btn:hover {
  box-shadow: 0px 0px 5px white;
  transform: scale(.985);
}
.submit-btn:disabled:hover {
  cursor: default;
  box-shadow: none;
}

p {
  width: 200px;
  text-shadow: 1px 2px 2px black;
}

a {
  color: white;
  font-weight: bold;
}
a:hover {
  color: #ddd;
}

/* Footer */
footer {
  width: 100%;
  text-align: center;
  margin-top: auto;
  position: absolute;
  bottom: 10px;
}

footer p {
  margin: auto;
}

.pass-warning {
  color: red;
  font-style: italic;
  display: none;
  margin: 0;
  font-size: 13px;
}

@media screen and (min-width: 720px) {
  header {
    height: 74px;
  }
  header img {
    position: absolute;
    left: 33px;
  }
  header h2 {
    width: 480px;
    font-size: 36px;
  }

  .input-field {
    margin-bottom: 12px;
  }

  .sign-up-form {
    padding-left: 33px;
  }

  .input-field, .submit-btn, p {
    width: 250px;
  }
}
